:root {
    --body-text-color: #000;
}

details {
    &.info {
        padding: 0.75em;
        border: var(--heading-border-size) solid;
    }

    summary {
        cursor: pointer;
        outline: none;
        text-indent: 0.75em;
    }
}

img {
    &.emoji {
        width: 1em;
        height: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
        pointer-events: none; 
    }
}

.emoji {
    font-family: "Twemoji", "Twitter Emoji", "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}