{{ if eq .Site.Params.Twemoji.enabled true }}
    {{- partial "helper/external" (dict "Context" . "Namespace" "Twemoji") -}}
    {{- $Twemoji := .Site.Params.Twemoji -}}
{{ if $Twemoji.Options }}
<script>
    window.onload = function() {
        twemoji.parse(document.body, 
            {
                folder: '{{ with $Twemoji.Options.Path }}{{ . }}{{ else }}svg{{ end }}', 
                ext: '{{ with $Twemoji.Options.Ext }}{{ . }}{{ else }}.svg{{ end }}',
                base: '{{ with $Twemoji.Options.baseURL }}{{ . }}{{ end }}'{{ with $Twemoji.Options.Size }},
                size: '{{ . }}'{{ end }}{{ with $Twemoji.Options.className }},
                className: '{{ . }}'{{ end }}
            }
        );
    }
</script>
{{ end }}
{{ end }}
