<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/header-single" . }}

    {{ partial "article/components/content" . }}

    {{ partial "article/components/footer" . }}

    {{ if or .Params.math .Site.Params.article.math }}
        {{ partialCached "article/components/math.html" . }}
    {{ end }}
    {{ if and (ne .Params.comments false) (eq .Site.Params.comments.enabled true) }}
        {{ if eq .Site.Params.comments.provider "disqus" }}
            {{ partialCached "article/components/Polyfill-IntersectionObserver.html" . }}
        {{ end }}
    {{ end }}
</article>
