<div {{ with .Get "div-style" }}style="{{ . }}"{{ else }}style="position: relative; padding-top: 56.25%;"{{ end }}>
    <iframe 
        src="//{{ with .Get "embed-uri" }}{{ . }}{{ else }}iframe.mediadelivery.net/embed{{ end }}/{{ with .Get "library-id" }}{{ . }}{{ else }}926{{ end }}/{{ .Get "id" }}{{ with .Get "autoplay" }}{{ if eq . "true" }}?autoplay=true{{ else }}?autoplay=false{{ end }}{{ end }}" 
        {{ with .Get "lazyload" }}{{ if eq . "true" }}loading="lazy"{{ end }}{{ end }} 
        {{ with .Get "style" }}style="{{ . }}"{{ else }}style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"{{ end }} 
        {{ with .Get "allow" }}allow="{{ . }}"{{ else }}allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"{{ end }} 
        {{ with .Get "allowfullscreen" }}{{ if eq . "true" }}allowfullscreen="true"{{ else }}allowfullscreen="false"{{ end }}{{ end }}>
    </iframe>
</div>