{{- $divStyle := "" -}}
{{- $iframeStyle := "" -}}
{{- $divClass := "" -}}
{{- $iframeClass := "" -}}
{{- $useClasses := default true (.Get "useClasses") -}}
{{- if eq $useClasses true -}}
    {{- $divClass = default "bunny-stream" (.Get "divClass") -}}
    {{- $iframeClass = default "bunny-stream-iframe" (.Get "iframeClass") -}}
{{- else -}}
    {{- $divStyle = default (print "position: relative; padding-top: 56.25%;") (.Get "divStyle") -}}
    {{- $iframeStyle = default (print "border: none; position: absolute; top: 0; height: 100%; width: 100%;") (.Get "iframeStyle") -}}
{{- end -}}
{{- $newPlayer := default true (.Get "newPlayer") -}}
{{- $embedURI := "" -}}
{{- if eq $newPlayer true -}}
    {{- $embedURI = "https://player.mediadelivery.net/embed" -}}
{{- else -}}
    {{- $embedURI = "https://iframe.mediadelivery.net/embed" -}}
{{- end -}}
{{- $embedURI = default (print $embedURI) (.Get "embedURI") -}}
{{- $allow := default `accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;` (.Get "allow") -}}
{{- $libraryID := default "926" (.Get "libraryID") -}}
{{- $videoID := .Get "id" -}}
{{- $autoplay := default false (.Get "autoplay") -}}
{{- $preload := default true (.Get "preload") -}}
{{- $muted := default false (.Get "muted") -}}
{{- $loop := default false (.Get "loop") -}}
{{- $responsive := default true (.Get "responsive") -}}
{{- $videoURL := printf "%s/%s/%s?autoplay=%s&preload=%s&muted=%s&loop=%s&responsive=%s" $embedURI $libraryID $videoID (string $autoplay) (string $preload) (string $muted) (string $loop) (string $responsive) -}}

{{- if eq $useClasses true -}}
<div class="{{- $divClass | safeCSS -}}">
    <iframe 
        src="{{- $videoURL | safeURL -}}" 
        {{- if eq (.Get "lazyload") true -}}loading="lazy"{{- end -}} 
        class="{{- $iframeClass | safeCSS -}}" 
        allow="{{- $allow -}}"
        {{- if eq (.Get "allowfullscreen") true -}}allowfullscreen="true"{{- end -}}>
    </iframe>
</div>
{{- else -}}
<div style="{{- $divStyle | safeCSS -}}">
    <iframe 
        src="{{- $videoURL | safeURL -}}" 
        {{- if eq (.Get "lazyload") true -}}loading="lazy"{{- end -}} 
        style="{{- $iframeStyle | safeCSS -}}" 
        allow="{{- $allow -}}"
        {{- if eq (.Get "allowfullscreen") true -}}allowfullscreen="true"{{- end -}}>
    </iframe>
</div>
{{- end -}}
