name: Build and Deploy
on: 
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
      - "**/LICENSE"
      - "**/LICENSE*"
      - "**/CONTRIBUTING.md"
      - "**/.gitignore"
      - "**/netlify.toml"
      - "config/development/**"
      - "**/archetypes/**"
      - "**/.markdownlint.*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    env:
      TZ: Asia/Jakarta
      GO_VERSION: stable
      HUGO_ENV: production
      HUGO_VERSION: latest
      DART_SASS_VERSION: latest

    steps:
    - name: Checkout the Code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up APT Mirror
      # GitHub Actions APT proxy is super unstable
      # See: https://github.com/actions/runner-images/issues/7048
      run: |
        printf 'http://azure.archive.ubuntu.com/ubuntu	priority:1\n' | sudo tee /etc/apt/mirrors.txt
        curl http://mirrors.ubuntu.com/mirrors.txt | sudo tee --append /etc/apt/mirrors.txt
        sudo sed -i 's/http:\/\/azure.archive.ubuntu.com\/ubuntu\//mirror+file:\/etc\/apt\/mirrors.txt/' /etc/apt/sources.list

    - name: Install All Locales and Other Packages
      run: |
        sudo sh -c 'apt update; apt install -y locales-all pigz'
        sudo update-locale LANG=C.UTF-8 LC_MESSAGES=POSIX
        sudo ln -sf /usr/share/zoneinfo/${TZ} /etc/localtime

    #- name: Setup Hugo Extended
    #  uses: peaceiris/actions-hugo@v3
    #  with:
    #    hugo-version: latest
    #    extended: true

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false

    - name: Setup Hugo Extended
      env:
        IS_EXTENDED: true
        IS_WITHDEPLOY: false
      run: |
        OS_NAME=$(go env GOOS)
        ARCH_NAME=$(go env GOARCH)
        
        if [ "$HUGO_VERSION" = 'latest' ]; then
          HUGO_VERSION="$(curl -s https://api.github.com/repos/gohugoio/hugo/releases/latest | grep tag_name | cut -d 'v' -f2 | cut -d'"' -f1)"
        fi
        
        version_ge() { [ "$(printf '%s\n%s\n' "$2" "$1" | sort -V | head -n1)" = "$2" ]; };
        version_le() { [ "$(printf '%s\n%s\n' "$1" "$2" | sort -V | head -n1)" = "$1" ]; };
        
        if [ "$OS_NAME" = "darwin" ] && version_le "$HUGO_VERSION" "0.80.0" && [ "$ARCH_NAME" = "arm64" ]; then
          echo "WARNING: You're using an unsupported version of Hugo on macOS ARM64. You will install the AMD64 version of Hugo, which may cause incompatibility and performance issues when running it."
          echo "If you have issues when running it with any reason, please consider using a newer version of Hugo which supports ARM64 natively (starts from 0.81.0) or use another runner image that using AMD64 architecture."
          ARCH_NAME="amd64"
        fi
        
        if [ "$OS_NAME" = "windows" ]; then
          FILE_FORMAT="zip"
        elif [ "$OS_NAME" = "darwin" ] && version_ge "$HUGO_VERSION" "0.153.0"; then
          FILE_FORMAT="pkg"
        else
          FILE_FORMAT="tar.gz"
        fi
        
        if [ "$IS_EXTENDED" = true ] && version_ge "$HUGO_VERSION" "0.43" && \
        { [ "$OS_NAME" = "linux" ] || [ "$OS_NAME" = "darwin" ] || [ "$OS_NAME" = "windows" ]; } && \
        { [ "$ARCH_NAME" = "amd64" ] || [ "$ARCH_NAME" = "arm64" ]; }; then
          HUGO_EXTENDED="_extended"
          
          if [ "$IS_WITHDEPLOY" = true ] && version_ge "$HUGO_VERSION" "0.137.1"; then
            HUGO_EXTENDED="_extended_withdeploy"
          elif [ "$IS_WITHDEPLOY" = true ] && version_ge "$HUGO_VERSION" "0.137.0" && \
          { [ "$OS_NAME" = "linux" ]; }; then
            HUGO_EXTENDED="_extended_withdeploy"
            if [ "$ARCH_NAME" = "arm64" ] && version_le "$HUGO_VERSION" "0.138.0"; then
              HUGO_EXTENDED="_extended"
            fi
          fi
          
          if [ "$ARCH_NAME" = "arm64" ] && [ "$OS_NAME" = "linux" ] && version_le "$HUGO_VERSION" "0.102.0"; then
            HUGO_EXTENDED=""
          fi
          
          if [ "$ARCH_NAME" = "arm64" ] && [ "$OS_NAME" = "windows" ]; then
            HUGO_EXTENDED=""
          fi
        else
          HUGO_EXTENDED=""
        fi
        
        if [ "$OS_NAME" = "darwin" ] && [ "$HUGO_VERSION" = "0.89.0" ]; then
          ARCH_NAME="all"
        fi
        
        if [ "$OS_NAME" = "darwin" ] && version_ge "$HUGO_VERSION" "0.102.0"; then
          ARCH_NAME="universal"
        fi
        
        if version_le "$HUGO_VERSION" "0.102.3"; then
          if [ "$OS_NAME" = "linux" ]; then
            OS_NAME="Linux"
          elif [ "$OS_NAME" = "darwin" ]; then
            OS_NAME="macOS"
          elif [ "$OS_NAME" = "windows" ]; then
            OS_NAME="Windows"
          elif [ "$OS_NAME" = "freebsd" ]; then
            OS_NAME="FreeBSD"
          elif [ "$OS_NAME" = "openbsd" ]; then
            OS_NAME="OpenBSD"
          elif [ "$OS_NAME" = "netbsd" ]; then
            OS_NAME="NetBSD"
          elif [ "$OS_NAME" = "dragonfly" ]; then
            OS_NAME="DragonFlyBSD"
          fi
          
          if [ "$ARCH_NAME" = "arm64" ]; then
            ARCH_NAME="ARM64"
          elif [ "$ARCH_NAME" = "arm" ]; then
            ARCH_NAME="ARM"
          elif [ "$ARCH_NAME" = "amd64" ]; then
            ARCH_NAME="64bit"
          elif [ "$ARCH_NAME" = "386" ]; then
            ARCH_NAME="32bit"
          fi
        fi
        
        HUGO_FILENAME="hugo${HUGO_EXTENDED}_${HUGO_VERSION}_${OS_NAME}-${ARCH_NAME}.${FILE_FORMAT}"
        WORKDIR="${RUNNER_TEMP}/hugo-install"; mkdir -p "$WORKDIR"; cd "$WORKDIR"
        aria2c -c -j 16 -x 16 -s 16 -UMozilla/5.0 https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/${HUGO_FILENAME}
        mkdir -p "${GITHUB_WORKSPACE}/bin/hugo"
        
        if [ "$OS_NAME" = "windows" ]; then
          7z x ${HUGO_FILENAME} -o"${GITHUB_WORKSPACE}/bin/hugo"
        elif [ "$OS_NAME" = "darwin" ] && version_ge "$HUGO_VERSION" "0.153.0"; then
          sudo installer -pkg "${HUGO_FILENAME}" -target /Applications
        else
          7z x -tgzip -so ${HUGO_FILENAME} | 7z x -si -ttar -o"${GITHUB_WORKSPACE}/bin/hugo"
          chmod +x "${GITHUB_WORKSPACE}/bin/hugo/hugo"
        fi
        
        echo "${GITHUB_WORKSPACE}/bin/hugo" >> $GITHUB_PATH
        rm -rf "${WORKDIR}"
        cd ${GITHUB_WORKSPACE}
    
    - name: Setup Dart Sass
      env:
        IS_MUSL: false
      run: |
        OS_NAME=$(go env GOOS)
        ARCH_NAME=$(go env GOARCH)
        FILE_FORMAT="tar.gz"
        
        if [ "$OS_NAME" = "darwin" ]; then
          OS_NAME="macos"
        fi
        
        if [ "$ARCH_NAME" = "amd64" ]; then
          ARCH_NAME="x64"
        fi
        
        if [ "$IS_MUSL" = true ] && [ "$OS_NAME" = "linux" ]; then
          DART_SASS_MUSL="-musl"
        else
          DART_SASS_MUSL=""
        fi
        
        if [ "$DART_SASS_VERSION" = 'latest' ]; then
          DART_SASS_VERSION="$(curl -s https://api.github.com/repos/sass/dart-sass/releases/latest | grep tag_name | cut -d 'v' -f2 | cut -d'"' -f4)"
        fi
        
        if [ "$OS_NAME" = "windows" ]; then
          choco install sass --version ${DART_SASS_VERSION}
        else
          DART_SASS_FILENAME="dart-sass-${DART_SASS_VERSION}-${OS_NAME}-${ARCH_NAME}${DART_SASS_MUSL}.${FILE_FORMAT}"
          WORKDIR="${RUNNER_TEMP}/dart-install"; mkdir -p "${WORKDIR}"; cd "${WORKDIR}"
          aria2c -c -j 16 -x 16 -s 16 -UMozilla/5.0 https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/${DART_SASS_FILENAME}
          mkdir -p "${GITHUB_WORKSPACE}/bin"
          7z x -tgzip -so ${DART_SASS_FILENAME} | 7z x -si -ttar -o"${GITHUB_WORKSPACE}/bin"
          chmod +x "${GITHUB_WORKSPACE}/bin/dart-sass/sass"
          chmod +x "${GITHUB_WORKSPACE}/bin/dart-sass/src/dart"
          echo "${GITHUB_WORKSPACE}/bin/dart-sass" >> $GITHUB_PATH
          rm -rf "${WORKDIR}"
        fi

    - name: Verify Installations
      run: |
        echo "Go: $(go version)"
        echo "Hugo: $(hugo version)"
        echo "Dart Sass: $(sass --version)"

    - name: Setup Hugo Resources Cache
      uses: actions/cache@v5
      with:
        path: |
          ./resources
        key: v2-9-hugo
        restore-keys: | 
          - v2-9-hugo

    - name: Setup Hugo Modules Cache
      uses: actions/cache@v5
      with:
        path: /tmp/hugo_cache_runner
        key: ${{ runner.os }}-hugo-modules-${{ hashFiles('**/go.sum') }}
        restore-keys: | 
          - ${{ runner.os }}-hugo-modules-${{ hashFiles('**/go.sum') }}

    - name: Building the Static Web
      run: |
        hugo --gc
        printf "SHORT_SHA=%s\n" ${GITHUB_SHA::7} >> $GITHUB_ENV

    - name: Compressing Static Web Files
      run: |
        # pigz -km -9 $(find public -iname '*.html' -o -iname '*.css' -o -iname '*.js' -o -iname '*.json' -o -iname '*.xml' -o -iname '*.svg' -o -iname '*.txt')
        # brotli -Zn $(find public -iname '*.html' -o -iname '*.css' -o -iname '*.js' -o -iname '*.json' -o -iname '*.xml' -o -iname '*.svg' -o -iname '*.txt')
        tar cvf - ./public | pigz -9 > files.tar.gz

    - name: Upload Output File to Artifact
      uses: actions/upload-artifact@v6
      with:
        name: build-result-${{ env.SHORT_SHA }}
        path: files.tar.gz
        retention-days: 1

  deploy_to_bunny_storage:
    name: Deploy to Bunny Storage 
    needs: build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout the Code
      uses: actions/checkout@v6
    - name: Setup Environment Variable
      run: printf "SHORT_SHA=%s\n" ${GITHUB_SHA::7} >> $GITHUB_ENV
    - name: Download Output File from Artifact
      uses: actions/download-artifact@v7
      with:
        name: build-result-${{ env.SHORT_SHA }}

    - name: Setup Mise and Thumper
      uses: jdx/mise-action@v3
    - name: Decompressing Files
      run: |
        tar -xvzf files.tar.gz

    - name: Deploying to Bunny Storage
      run: thumper sync public ${{ secrets.BUNNY_STORAGE_USERNAME }} --concurrency 8 --verbose
      env:
        THUMPER_KEY: "${{ secrets.BUNNY_STORAGE_PASSWORD }}"

    - name: Purge page caches
      run: |
        thumper purge-url https://farrelf.blog/
        thumper purge-url https://farrelf.blog/index.xml
        thumper purge-url https://farrelf.blog/*/index.html
        thumper purge-url https://farrelf.blog/*/index.xml
        thumper purge-url https://farrelf.blog/*/index.json
      env:
          THUMPER_API_KEY: "${{ secrets.BUNNY_API_KEY }}"

  deploy_to_tebi-s3:
    name: Deploy to Tebi S3 Storage
    needs: build
    runs-on: ubuntu-24.04
    steps:
    - name: Setup Environment Variable
      run: printf "SHORT_SHA=%s\n" ${GITHUB_SHA::7} >> $GITHUB_ENV
    - name: Download Output File from Artifact
      uses: actions/download-artifact@v7
      with:
        name: build-result-${{ env.SHORT_SHA }}

    - name: Decompressing Files
      run: |
        tar -xvzf files.tar.gz

    - name: Installing and Configuring RClone
      run: |
        curl https://rclone.org/install.sh | sudo bash
        mkdir -p ${HOME}/.config/rclone
        echo "${{ secrets.RCLONE_CONFIG }}" > ${HOME}/.config/rclone/rclone.conf

    - name: Deploying to S3 Storage
      env:
        RCLONE_CONFIG_PASS: ${{ secrets.RCLONE_CONFIG_PASS }}
        S3_SERVICE: tebi-s3
      run: |
        rclone sync -v -P --stats-one-line --checksum --transfers=32 --checkers=32 ./public ${S3_SERVICE}:/${{ secrets.S3_STORAGE_BUCKET }}

  submit_sitemap:
    name: Submit Sitemap
    needs: [deploy_to_bunny_storage, deploy_to_tebi-s3]
    runs-on: ubuntu-24.04
    steps:
    - name: Submitting Sitemap to Search Engine
      env:
        SITEMAP_URL: https://farrelf.blog/sitemap.xml
      run: |
        set -o errexit
        set -o pipefail
        set -o nounset

        curl -S -s -o /dev/null "https://www.google.com/webmasters/sitemaps/ping?sitemap=${SITEMAP_URL}"
        curl -S -s -o /dev/null "https://www.bing.com/ping?sitemap=${SITEMAP_URL}"
        echo "Sitemaps pinged"
